.verticale-menu{
    width: 200px;
    height: 100vh;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(83, 92, 105);
    position: fixed;
    left: 0;
    top: 0;
}
.verticale-menu a{
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.verticale-menu a:hover{
    background-color: rgb(83, 24, 138) ;
}
.verticale-menu a.active{
    background-color: rgb(50, 22, 211);
}
.verticale-menu a.active:hover{
    background-color: rgb(83, 24, 138);
}


}
.propos{
    border: 2px solid rgb(83, 24, 138) ;
    background-color:  rgb(83, 92, 105);
    display: block;
}
 
  